@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body{
  background: rgb(2,0,36);
background: linear-gradient(100deg, rgba(2,0,36,1) 0%, rgba(8,8,97,1) 34%);
  color: black;
  font-size: 45px;
  font-family: 'Montserrat', sans-serif;
}
.wrapper{
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.box{
  background-color: #faf5f5;
  height: 200px;
  width: 200px;
  margin: 10px;
  text-align: center;
  border-radius: 10px;
  transition-duration: 0.3s;
  border: 15px solid white;
}
.text{
  vertical-align: middle;
}
.box:hover{
  box-shadow: 4px 7px 27px -6px rgba(0,0,0,0.75) inset,
              0 0 20px black;
-webkit-box-shadow: 4px 7px 27px -6px rgba(0,0,0,0.75) inset;
-moz-box-shadow: 4px 7px 27px -6px rgba(0,0,0,0.75) inset;
 color: #0b0b53;
}
@media only screen and (max-width: 670px){
  .wrapper{
    flex-direction: row;
  }
  .box{
    height: 100px;
    width: 100px;
    font-size: 25px;
  }
}
@media only screen and (min-width: 1000px){
  .box{
    height: 250px;
    width: 250px;
    font-size: 55px;
  }
}